.dashboard-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
  }
  
  .dashboard-card {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd; /* Light Gray Border */
  }
  